---
import Layout from "../layouts/Layout.astro";
import constituencies from "../data/constituencies.js";

export function getStaticPaths() {
  const constitStatic = constituencies.map((constituency) => {
    const returnStat = {
      params: {
        constituency: constituency[1],
      },
    };
    return returnStat;
  });
  return constitStatic;
}

const { constituency } = Astro.params;

const wpc = constituencies.find(
  (constituencyArray) => constituencyArray[1] === Astro.params.constituency
);

//ONS API fetch
const queryURL =
  "https://api.beta.ons.gov.uk/v1/datasets/TS054/editions/2021/versions/4/json?area-type=wpc," +
  wpc[0];
const queryDataJson = await fetch(queryURL);
const queryData = await queryDataJson.json();
const data = queryData.observations;

const sumStat = data.reduce(
  (accumulator, currentValue) => accumulator + currentValue
);

const rentingStat = data[6] + data[7];
const rentingPercentStat = Math.round((rentingStat / sumStat) * 100);
---

<Layout title=`${constituency} Renting Statistics`>
  <main class="w-screen text-xl">
    <section
      class="flex flex-col lg:flex-row gap-10 py-10 text-black justify-center items-center"
    >
      <div
        class="flex flex-row lg:flex-col gap-10 justify-center items-center text-center"
      >
        <div><p>GRAPH</p><p>PLACE</p><p>HOLDER</p></div>
        <p class="text-2xl">
          <strong class="text-6xl font-bold block">{rentingPercentStat}%</strong
          > are renting
        </p>
      </div>
      <div class="flex flex-col gap-5 items-center lg:items-start">
        <div class="flex flex-col gap-2 lg:text-left text-center">
          <p>
            <strong class="text-6xl font-bold">{rentingStat}</strong> rent out of
          </p>
          <p>
            <strong class="text-6xl font-bold"> {sumStat}</strong> people in
          </p>
          <p class="text-5xl font-bold text-wrap max-w-80">
            {constituency}
          </p>
        </div>
        <button
          class="bg-dark-blue hover:bg-white text-white hover:text-dark-blue hover:border-dark-blue border underline font-bold py-2 px-4 focus:outline-none focus:shadow-outline max-w-80 w-full"
          type="button"
        >
          LET YOUR MP KNOW
        </button>
        <button
          class="bg-white hover:bg-dark-blue text-dark-blue hover:text-white border-dark-blue border underline font-bold py-2 px-4 focus:outline-none focus:shadow-outline max-w-80 w-full"
          type="button"
        >
          SEARCH AGAIN
        </button>
      </div>
    </section>
  </main>
</Layout>
